{% extends 'base.html.twig' %}

{% block title %} Homepage {% endblock %}

{% block body %}
<div class="container text-center mt-5">
    <img src="{{ asset("image/anhbia.jpg") }}">
</div>
{% endblock %}