{% extends "base.html.twig" %}
{% block body %}
<h1 class="display-4 text-center mb-3">Manufacture Detail</h1>
<table class="table table-striped text-center">
<thead>
        <tr>
                <th>Name</th>
                <th>Description</th>
                <th></th>
        </tr>
</thead>

<tbody>

    <tr>
        <td>{{manufacture.name}}</td>
        <td>{{manufacture.description}}</td>
        <td>
        <a href="{{path('manufacture_edit',{'id':manufacture.id})}}" class="btn btn-primary">Edit</a>
        <a href="{{path('manufacture_delete',{'id':manufacture.id})}}" class="btn btn-warning"
        onclick="return confirm('Are you sure to delete!')">Delete</a>
        </td>
    </tr>

</tbody>

</table>
{% endblock %}